/* Estilos gerais para limpar margens e preenchimentos padrão */
* {
  margin: 0;
  padding: 0;
}

/* Estilos para o fundo animado */
.fundo-animado {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Coloca o GIF atrás de todo o conteúdo */
}

/* Estilos para o cabeçalho */
header {
  background-color: #000 !important;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h5 {
  color: #fff;
  font-weight: bold;
  font-style: italic;
}

/* Estilos para o logotipo */
.logo img {
  max-width: 200px;
  height: 110px;
  padding: 0;
  margin: 0;
}

/* Estilos para o menu de navegação */
.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu li {
  margin-left: 0px;
  margin-right: 20px;
}

.menu a {
  font-size: 23px;
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.menu a:hover {
  color: rgb(39, 9, 137);
  text-decoration: underline;
}

div .in-ss {
  color: rgb(39, 9, 137);
  text-decoration: underline;
  padding-left: 40px;
}
/* Estilos para o campo de pesquisa */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input[type="text"] {
  margin-right: 30px;
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  background-color: transparent;
}

.search-text:hover {
  background-color: rgb(11, 23, 86);
}

/* Estilos para o botão de pesquisa */

.search button {
  padding: 6px;
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  background-color: rgb(11, 23, 86);
  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

/* Estilos aba iniciar sessão */
#nomeUsuarioDiv {
  color: white;
  font-size: 25px;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  font-style: italic;
  border-radius: 70px;
  background: linear-gradient(
    to right,
    rgb(35, 11, 121),
    rgb(11, 5, 52),
    rgb(6, 12, 46)
  );
}
#sair {
  color: white;
  font-size: 15px;
  justify-content: right;
  font-weight: bold;
  font-style: italic;
  border-radius: 50px;
  margin-left: auto;
  margin-top: auto;
  padding: 0px;
}
#sair:hover {
  color: red;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px;
  background-color: transparent;
  border-radius: 10px;
  color: #fff;
  padding-bottom: 20px;
}

.logar {
  font-style: normal;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;
}

.logar input[type="email"] {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;
  height: 50px;
  font-size: 25px;
}

.logar input[type="password"] {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;
  height: 50px;
  font-size: 25px;
}

.ir {
  padding: 20px;
  height: 70px;
  width: 400px;
  display: block;
  margin-bottom: 40px;
  background: linear-gradient(
    to right,
    rgb(35, 11, 121),
    rgb(11, 5, 52),
    rgb(6, 12, 46)
  );
  border: rgb(6, 3, 214) 1px solid;
  border-radius: 5px;
  transition: filter 0.3 ease;
  color: #fff;
  font-size: 20px;
}
.ir:hover {
  filter: brightness(1.2);
}

h2 {
  color: #fff;
  font-weight: bold;
  font-style: italic;
}

p {
  color: #fff;
}

/* Estilos para a tela de registro */
.registro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: transparent;
  border-radius: 10px;
  color: #fff;
  padding-top: 330px;
  z-index: 1;
  position: relative;
}

.registrar {
  font-style: normal;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.registrar input[type="text"],
.registrar input[type="email"],
.registrar input[type="password"],
.registrar input[type="date"] {
  display: block;
  padding: 10px;
  width: 300px;
  height: 50px;
  font-size: 25px;
  margin-bottom: 0px;
}

.registrar .ir {
  padding: 20px;
  width: 100%;
  display: block;
  background: linear-gradient(
    to right,
    rgb(35, 11, 121),
    rgb(11, 5, 52),
    rgb(6, 12, 46)
  );
  border: 1px solid rgb(6, 3, 214);
  border-radius: 5px;
  transition: filter 0.3s ease;
  color: #fff;
  font-size: 20px;
}

.registrar .ir:hover {
  filter: brightness(1.2);
}

h1 {
  color: #fff;
  font-weight: bold;
  font-style: italic;
}

p {
  color: #fff;
  text-align: center;
}

/* Estilos para o carousel */

.carousel {
  padding-top: 40px;
}

/* Estilos para as imagens dentro da classe .carrossel-item */
.carousel-item img {
  width: 800px;
  height: 500px;
  display: block;
  margin: 0px auto;
  border: 10px solid rgba(7, 2, 43, 0.365);
  border-radius: 10%;

  z-index: 1;
}

/* Estilos para ocultar as imagens do carrossel */
.carousel-item {
  display: none;
}

/* Estilo para mostrar a imagem atual */
.carousel-item.active {
  display: block;
}

/* Estilos para os botões de navegação do carrossel */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(to right, #030541, #06041e);
  font-weight: bold;
  color: #fff;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  z-index: 2;
}

#prevBtn {
  font-size: 100px;
  border-radius: 10px;
  height: 300px;
  width: 100px;
  margin-top: 200px;
  left: 10px;
  outline: none;
}

#nextBtn {
  font-size: 100px;
  border-radius: 10px;
  height: 300px;
  width: 100px;
  margin-top: 200px;
  right: 10px;
  outline: none;
}

#nextBtn:active {
  border: 3px solid rgba(239, 9, 9, 0.505);
}

#prevBtn:active {
  border: 3px solid rgba(56, 2, 252, 0.518);
}

.carousel-btn:hover {
  background-color: rgba(6, 3, 214, 0.194);
}
/* Estilos para as divs de informações do jogo */

.jogos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.game-info {
  width: 200px;
  margin: 10px;
  border: #000 5px solid;
  box-shadow: #0056b3 0px 0px 10px;
}

.game-info a {
  text-decoration: none;
  color: #333;
}

.game-icon {
  max-width: 100%;
  max-height: 150px;
  border-radius: 10px;
}

h2 {
  margin: 10px 0;
  font-size: 18px;
}

/* Adicionado um estilo para o game modal */
#gameModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

#game-video {
  max-width: 70%;
  height: auto;
  border-radius: 40px;
}

.close-button {
  float: center;
  cursor: pointer;
  font-size: 30px;
  padding-top: 0;
  margin-bottom: 0px;
  color: #fff;
}

.close-button:hover {
  color: red;
}

.modal-info {
  text-align: center;
}

.modal-image {
  text-align: center;
}

.buy-button {
  display: block;
  margin: 10px auto;
  padding: 5px 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

h2 {
  margin: 10px 0;
  font-size: 18px;
}

.about {
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin-top: 800px;
  border-radius: 5px;
}

/* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  outline: none;
}

.modal-content {
  background: linear-gradient(to right, #030541, #06041e);
  margin: 40px auto;
  padding: 0;
  width: 45%;
  height: 400px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  animation: moveLine 2.5s linear infinite;
}
/* Animação para mover a linha em volta */
@keyframes moveLine {
  0%,
  100% {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  25% {
    border-left: 4px solid #0800ff;
  }
  50% {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  75% {
    border-right: 4px solid #ff0000;
  }
}

.modal-content p {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  margin-top: 0px;
}

.modal-content img {
  width: 50px;
  height: auto;
  padding-bottom: 30px;
}

.close {
  float: center;
  cursor: pointer;
  font-size: 40px;
  padding-top: 0;
  margin-bottom: 30px;
  color: #fff;
}

.close:hover {
  color: red;
}

/* Estilo para as informações dos jogos */
.game-info {
  width: 30%;
  text-align: center;
  margin-top: 30px;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
}

.game-info a {
  text-decoration: none;
  color: #333;
}

.game-icon {
  max-width: 100%;
  max-height: 150px;
}

.modal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-info h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-info p {
  font-size: 16px;
}

.buy-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.buy-button:hover {
  background-color: #0056b3;
}

.modal-image img {
  max-width: 100%;
  max-height: 300px;
}

/* Estilo para o modal de jogo */
#gameModal {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: transparent;
  align-items: center;
}

/* Estilos para o formulário de chamado */
#chamadoForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px;
  background-color: transparent;
  border-radius: 10px;
  color: #fff;
  padding-bottom: 20px;
}

#chamadoForm label {
  display: flex;
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
}

.chamadoEmail {
  display: block;
  padding: 10px;
  width: 400px;
  height: 50px;
  font-size: 25px;
  margin-bottom: 0px;
}

#chamadoSub {
  padding: 20px;
  height: 70px;
  width: 400px;
  display: block;
  margin-bottom: 40px;
  background: linear-gradient(
    to right,
    rgb(35, 11, 121),
    rgb(11, 5, 52),
    rgb(6, 12, 46)
  );
  border: rgb(6, 3, 214) 1px solid;
  border-radius: 5px;
  transition: filter 0.3s ease;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#chamadoForm button:hover {
  filter: brightness(1.2);
}

#footerContainer {
  position: relative;
  justify-items: center;
  bottom: 0;
  color: white;
  font-size: 20px;
  z-index: 999999;
  margin-top: 20px;
}

#confirmar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px;
  background-color: transparent;
  border-radius: 10px;
  color: #fff;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
}

#confirmar label {
  display: flex;
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
}

#confirmar_cod {
  display: block;
  padding: 10px;
  width: 400px;
  height: 50px;
  font-size: 25px;
  margin-bottom: 25px;
}

#confirmarSub {
  padding: 20px;
  height: 70px;
  width: 400px;
  display: block;
  margin-bottom: 40px;
  background: linear-gradient(
    to right,
    rgb(35, 11, 121),
    rgb(11, 5, 52),
    rgb(6, 12, 46)
  );
  border: rgb(6, 3, 214) 1px solid;
  border-radius: 5px;
  transition: filter 0.3s ease;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

/* Estilos para o formulário de redefinição de senha */
.form-redefinir {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px;
  background-color: transparent;
  border-radius: 10px;
  color: #fff;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
}

.form-redefinir label {
  display: flex;
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
}

.form-redefinir input {
  display: block;
  padding: 10px;
  width: 400px;
  height: 50px;
  font-size: 25px;
  margin-bottom: 25px;
}

.btn-redefinir {
  padding: 20px;
  height: 70px;
  width: 400px;
  display: block;
  margin-bottom: 40px;
  background: linear-gradient(
    to right,
    rgb(35, 11, 121),
    rgb(11, 5, 52),
    rgb(6, 12, 46)
  );
  border: rgb(6, 3, 214) 1px solid;
  border-radius: 5px;
  transition: filter 0.3s ease;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.btn-redefinir:hover {
  filter: brightness(1.2);
}

.comment {
  color: blue;
  margin-bottom: 10px;
}

.comment strong {
  color: red;
}

h4 {
  padding-top: 100px;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
}

/* Adiciona estilo ao modal */
#cartModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #000;
  padding: 20px;
  z-index: 1000;
}

/* Estilo para a lista de jogos */
#cartModal ul {
  list-style: none;
  padding: 0;
}

/* Estilo para os itens da lista de jogos */
#cartModal li {
  margin-bottom: 10px;
}

/* Estilo para o botão de fechar */
#closeCartModal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

/* Estilo para o botão de comprar */
#buyButton {
  display: block;
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#selectedGamesList {
  color: #fff;
  font-size: 20px;
  border: #000000 3px solid;
  text-align: left;
  padding: 10px;
  margin: 5px;
  width: 300px;
  height: 200px;
  box-shadow: #0056b3 0px 0px 10px;
  list-style: none;
}
/* Estilo para pagina de compra*/
#totalPrice {
  color: #fff;
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
}
#compra {
  color: #fff;
  font-size: 20px;
  text-align: left;
  padding: 15px;
}

#compra2 {
  color: #fff;
  font-size: 20px;
  text-align: left;
  padding: 4px;
}

.logBuy {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}

#confirmCompra {
  padding: 0px;
  height: 50px;
  width: 200px;
  display: block;
  margin: 0px;
  background: linear-gradient(
    to right,
    rgb(35, 11, 121),
    rgb(11, 5, 52),
    rgb(6, 12, 46)
  );
  border: rgb(6, 3, 214) 1px solid;
  border-radius: 5px;
  transition: filter 0.3s ease;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#imageRot {
  position: fixed;
  top: 200px;
  left: 400px;
  right: 300px;
  text-align: center;
  z-index: 9999;
}

.rotating-image {
  width: 200px;
  height: 300px;
  border: rgb(6, 12, 46) 2px solid;
  box-shadow: #0f0cb6 0px 0px 10px;
  animation: swing 3s ease-in-out infinite;
  border-radius: 30px;
  padding: 4px;
  margin: 20px;
}

/* estilos para o modal de compra */

#buttonCart {
  padding: 10px;
  height: 70px;
  width: 70px;
  display: block;
  margin-bottom: 0px;
  background: linear-gradient(
    to right,
    rgb(35, 11, 121),
    rgb(11, 5, 52),
    rgb(6, 12, 46)
  );
  border: rgb(6, 3, 214) 1px solid;
  border-radius: 100%;
  transition: filter 0.3s ease;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  box-shadow: #0056b3 0px 0px 10px;
  z-index: 9999;
}

#buttonCart:hover {
  filter: brightness(1.2);
}

#cartModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  background-color: rgb(6, 12, 46);
  border: 1px solid #000;
  padding: 20px;
  border-radius: 40px;
}

#closeCartModal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  color: #fff;
}

#closeCartModal:hover {
  color: red;
}
